

main .content .bloghead{
    margin-top: 10vh;
}

#blogpage {
    background-color: rgba(255,255,255,0.1);
    top: 10vh;
}
#blogslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#blogcard{
    text-decoration: none;
}

.card {
    padding: 1em;
    position: relative;
    width: 350px;
    height: 320px;
    background: rgba(255, 255, 255, 0.05);
    margin: 1.4em;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(20px);
    justify-content: center;
    overflow: hidden;
    cursor: pointer;


}

.card .cardcontent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}

.card:hover .cardcontent {
    opacity: 1;
    transition: 1s;
    transform: translateY(-20px);
}

.card:hover {
    transition: 1s;
    transform: scaleZ(1.2);
}

.card:hover::before {
    transition: 0.5s;
    transform: scale(1.2);
}

.card .cardcontent .imgBx {
    position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
    background-color: red;
}
.card .cardcontent .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top right;
}

/* .card .cardcontent .contentBx{

} */

.card .cardcontent .contentBx h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 5px;
    line-height: 1.1em;
}

.card .cardcontent .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.card .cardcontent .contentBx p{
    color: rgb(83, 83, 83);
    text-align: left;
    font-size: 13px;
    height: 2.5rem;
    opacity: 0;
    margin: 0 1em 0 1em;
}

.card:hover .cardcontent .contentBx p{
    opacity: 1;
    
}
.card .cardcontent .contentBx h1{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    bottom: 0%;
    margin-right: 1em;
}
