body{
    font-family: 'Noto Sans JP', sans-serif;
}

main .content .bloghead{
    margin-top: 10vh;
    
}

#blogpage {
    background-color: rgba(255,255,255,0.1);
    top: 10vh;
}
#blogslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#projectslist{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
#blogcard{
    text-decoration: none;
}

.card {
    padding: 1em;
    position: relative;
    width: 350px;
    height: 370px;
    /* background: rgba(255, 255, 255, 0.05); */
    margin: 1.4em;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(20px);
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

}
.card .cardcontent .imgBx img:empty{
    
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}

.card .cardcontent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    transition: 0.5s;
}

.card:hover .cardcontent {
    opacity: 1;
    transition: 1s;
    transform: translateY(-20px);
}

.card:hover::before {
    transition: 0.5s;
    transform: scale(1.2);
}

.card .cardcontent .imgBx {
    position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
    background-color: black;
}
.card .cardcontent .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top right;
}



.card .cardcontent .contentBx h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 5px;
    line-height: 1.1em;
}

.card .cardcontent .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.card .cardcontent .contentBx p{
    color: rgb(83, 83, 83);
    text-align: left;
    font-size: 13px;
    height: 2.5rem;
    opacity: 0;
    margin: 1em;
}

.card:hover .cardcontent .contentBx p, .card:hover .cardcontent .contentBx h1{
    opacity: 1;
    
}
.card .cardcontent .contentBx h1{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    bottom: 0%;
    margin-right: 1em;
    opacity: 0.7;
}


.dummy{
    height: 25vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 1em 1em 1em;
    font-size: 1.5em;
}


hr{
    width: 50vw;
    margin-left: 25vw;
}
#blogpage h1{
    padding: 1em;
    text-align: right;
}
#blogpage .selector{
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}
#blogpage .selector button{
    padding: 0.5em;
    font-size: 20px;
    width: 5em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
    color: black;
    box-shadow: 0 2px 2px 0 rgb(0 0 0/14%),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    direction: ltr;
    border: none;
}

#blogpage .selector .active{
    background: black;
    color: white;
}


/* Preloader css */
#preloader{
    margin: 0;
    width: 100vw;
    height: 93vh;
    margin-top: 7vh;
    display: flex;
    place-items: center;
    position: fixed;
    z-index: 5;
    background: white;
    padding: 5vw;
    justify-content: space-evenly;
    
}
#preloader .text{
    text-transform: uppercase;
    font-size: 3.4em;
    z-index: 4;
    
}

#preloader .container{
    perspective: 200px;
}
#preloader .box{
    --size: 12vmin;
    width: var(--size); 
    height: var(--size); 
    background-color: hsla(170, 50%, 50%, 0.3);
    transform: rotateZ(30deg) skew(-35deg);
    position: relative;
    animation: animate 800ms infinite ease-in-out both alternate;
}
#preloader .box:nth-of-type(1){
    animation-delay: 0.1s;
}
#preloader .box:nth-of-type(2){
    animation-delay: 0.2s;
}
#preloader .box:nth-of-type(3){
    animation-delay: 0.3s;
}
#preloader .box:nth-of-type(4){
    animation-delay: 0.4s;
}

#preloader .box::after, #preloader .box::before{
    content: "";
    width: inherit;
    height: 5px;
    position: absolute;
    left: 0; 
    bottom: 0; 
}
#preloader .box::before{
    transform-origin: left bottom;
    background-color: hsla(170, 50%, 50%, 0.7);
    transform: translateX(var(--size)) rotateZ(180deg) skew(45deg);
}
#preloader .box::after{
    background-color: hsla(170, 50%, 50%, 0.5);
    transform-origin: right bottom;
    transform: translateX(0) rotateZ(90deg) skew(-45deg);
}

/* bring them all togehter */
#preloader .box + #preloader .box{
    top: 0;
    position: absolute;
    transform: translateY(0) rotateZ(30deg) skew(-35deg);
}

@keyframes animate{
    from{
        transform: translateY(0) rotateZ(30deg) skew(-35deg);
    }
    to{
        transform: translateY(calc(-1.2 * var(--size))) rotateZ(30deg) skew(-35deg);
    }
}

@media screen and (max-width:370px) {
    .card{
        width: 80vw;
    }
    #preloader .text{
        font-size: 2em;
    }
}

@keyframes shine {
    to {
      background-position: 100% 0, /* move highlight to right */ 0 0;
    }
}