/* #blogcard .cardcontent .controls ul,#blogcard .cardcontent .controls ul li, #blogcard .cardcontent .controls ul li a{
    text-decoration: none;
}

#blogcard .cardcontent .controls ul{
    flex-direction: row;
}

#blogcard .cardcontent .controls a{
    background-color: black;
    width: 20%;
    margin: 1em;

} */
.wrapper{
    min-height: 100vh;
}

main .accountmn{
    position: fixed;
    width: auto;
    right: 0;
    height: fit-content;
    background-color: rgb(248 249 250);
    overflow:hidden;
    display: none;
    flex-direction:column;
    z-index:9;
    margin:4em 1em 0 0;
    padding:1em;
    align-items:center;
    border: solid 2px black;
}
main .accountmn .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 0;
}

main .accountmn .imgbx{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}

main .accountmn .imgbx img{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#cathead{
    padding: 1em;
    text-align: center;
}

#signout{
    cursor: pointer;
    border: solid 2px black;
    background-color: transparent;
    padding: 0.5em;
    text-align: center;
}

main .dummy{
    height: 25vh;
}

#projectslist, #blogslist{
    min-height: 100vh;
}

.controls a{
    width: 20%;
    margin: 1em;
    padding: 0.2em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: solid 2px black;
    
}

.controls{
    margin-top: 1em;
    
}

#projectslist .card, #blogslist .card{
    height: 360px;
    cursor: inherit;
}

@media screen and (max-width:400px) {
    main .accountmn{
        width: 100%;
        top: 44vh;
        background-color: rgb(248 249 250);
        position: fixed;
        margin: 0;
        border: none;
    }

}


/* Preloader css */
/* #preloader .text{
    text-align: center;
    width: 80vw;
} */
#preloader .box{
    background-color: hsla(203, 72%, 45%, 0.3);
}

#preloader .box::before{
    background-color: hsla(203, 72%, 45%, 0.7);
}
#preloader .box::after{
    background-color: hsla(203, 72%, 45%, 0.5);
}
