body{
    overflow-x: hidden;
}

main .dummy {
    height: 25vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 1em 1em 1em;
    font-size: 1.5em;
}
main .section{
    text-align: center;
}
main .tit{
    background: black;
    height: 2px;
    border-radius: 1px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1em;
    margin-bottom: 1em
}

main .event {
    height: 100vh;
    
}
main .event .imgbx{
    position: absolute;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    z-index: -5;
}
main .event .imgbx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

main .event .lcard{
    /* background: rgba(160, 160, 160, 0.1); */
    /* background: #007eff29; */
    background: #00000054;
    backdrop-filter: blur(3px);
    color: white;
    float: left;
    width: 35vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main .event .rcard{
    /* background: rgba(160, 160, 160, 0.1); */
    /* background: #007eff29; */
    background: #00000054;
    backdrop-filter: blur(3px);
    color: white;
    float: right;
    width: 35vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .event h1{
    font-size: 5vw;
    color: white;
    
}
main .event p{
    width: 25vw;
    flex-wrap: wrap;
    color: whitesmoke;
    padding: 2em 0;
    font-size: 1.5vw;
}


@media screen and (max-width:900px) {
    
    main .event {
        width: 100vw;
        height:40vh;
        
    }
    main .event .imgbx{
        position: absolute;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
        z-index: -5;
    }
    main .event .imgbx img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    main .event .lcard{
        background: #00000054;
        backdrop-filter: blur(3px);
        color: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:20vh;
        
    }
    main .event .rcard{
        background: #00000054;
        backdrop-filter: blur(3px);
        color: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:20vh;
    }
    main .event h1{
        font-size: 1.5em;
        color: white;
        
    }
    main .event p{
        width: 80vw;
        flex-wrap: wrap;
        color: whitesmoke;
        padding: 0.5em 0;
        font-size: 1em;
    }
    
    
}






/* main .events .winners{
    padding: 1em;
}
main .events .winners .winner{
    background: red;
    width: 8em;
    height: 10em;
}
main .events .winners .winner .imgbx{

}
main .events .winners .winner .imbgx img{

}
main .events .winners .winner p{

}
main .events .winners .winner p span{

} */