main .content{
    max-width: 100vw;
}
#title{
    font-size: 3em;
    padding: 20vh 1em 0 0;
    margin-left: 15vw;
    text-transform: uppercase;
}
#bgimgbox{
    width: 100vw;
    height: 50vh;
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

#bgimgbox img{
    height: 100%;
    object-fit: scale-down;
}

#description{
    border-left: 4px solid #ff20da;
    padding: 0 20px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
    margin-left: 15vw;
    width: 60vw;
    min-height: 3em;
    justify-content: center;
}

#data blockquote{
    border-left: 4px solid #00ab6b;
    padding: 0 20px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
}



main .content .head p{
    padding-left: 10em;
}

main .content .data{
    width: 60vw;
    margin: 3em 20vw;

}

main .content .data img{
    width: 30em;
    height: auto;
}

main .content .author{
    display: flex;
    margin: 1em 0 1em 15vw;
    gap: 2em;
}
main .content .author .authdata{
    gap: 2em;
}

#authimgbox{
    height: 5em;
    width: 5em;
    overflow: hidden;
    
}
#authorname{
    font-weight: normal;
    font-size: 1em;
}

#authimgbox img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#timestamp{
    font-size: 1em;
    text-align: right;
    width: 90vw;
    margin-bottom: 1em;
}
#authdata{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#authordesc{
    
}
#pdfgen{
   margin: 5em;
   background-color: white;
   padding: 0.5em;
   margin-left: 15vw;
   cursor: pointer;
}



@media screen and (min-width:401px) and (max-width:600px) {
    main .content .data img{
        width: 20em;
    }
}

@media screen and (max-width:400px) {
    main .content .data img{
        width: 70vw;
    }
    main .content .data{
        margin-left: 15vw;
    }
    main .content .head h1, #description{
        margin-left: 12vw;
    }
}


/* Preloader animation */
#preloader{
    margin: 0;
    width: 100vw;
    height: 93vh;
    margin-top: 7vh;
    display: flex;
    place-items: center;
    position: fixed;
    z-index: 5;
    background: white;
    flex-wrap: wrap;
    justify-content: center;
}
#preloader .text{
	font-size: 3.5em;
    text-transform: uppercase;
    width: 40vw;
    padding-top: 2em;
}
.boxes {
	--size: 32px;
	--duration: 800ms;
	height: calc(var(--size) * 2);
	width: calc(var(--size) * 3);
	position: relative;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	margin-top: calc(var(--size) * 1.5 * -1);
	transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
	width: var(--size);
	height: var(--size);
	top: 0;
	left: 0;
	position: absolute;
	transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
	transform: translate(100%, 0);
	animation: box1 var(--duration) linear infinite;
}
.boxes .box:nth-child(2) {
	transform: translate(0, 100%);
	animation: box2 var(--duration) linear infinite;
}
.boxes .box:nth-child(3) {
	transform: translate(100%, 100%);
	animation: box3 var(--duration) linear infinite;
}
.boxes .box:nth-child(4) {
	transform: translate(200%, 0);
	animation: box4 var(--duration) linear infinite;
}
.boxes .box > div {
	--background: #5C8DF6;
	--top: auto;
	--right: auto;
	--bottom: auto;
	--left: auto;
	--translateZ: calc(var(--size) / 2);
	--rotateY: 0deg;
	--rotateX: 0deg;
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--background);
	top: var(--top);
	right: var(--right);
	bottom: var(--bottom);
	left: var(--left);
	transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
	--top: 0;
	--left: 0;
}
.boxes .box > div:nth-child(2) {
	--background: #145af2;
	--right: 0;
	--rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
	--background: #447cf5;
	--rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
	--background: #DBE3F4;
	--top: 0;
	--left: 0;
	--translateZ: calc(var(--size) * 3 * -1);
}
@keyframes box1 {
	0%, 50% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(200%, 0);
	}
}
@keyframes box2 {
	0% {
		transform: translate(0, 100%);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}
@keyframes box3 {
	0%, 50% {
		transform: translate(100%, 100%);
	}
	100% {
		transform: translate(0, 100%);
	}
}
@keyframes box4 {
	0% {
		transform: translate(200%, 0);
	}
	50% {
		transform: translate(200%, 100%);
	}
	100% {
		transform: translate(100%, 100%);
	}
}
html {
	-webkit-font-smoothing: antialiased;
}
* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
/* body {
	min-height: 100vh;
	font-family: Roboto, Arial;
	color: #ADAFB6;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F9FBFF;
} */
