body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;

}


#intro{
    height: 100vh;
    background: url("../data/index/1.jpg") center no-repeat fixed;
    /* background-color: black; */
    background-size: cover;

    position: relative;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
     */
    
}

#intro::before{
  content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#381f1a);
        opacity: .6;
}


main .content{
    align-items: center;
}
#intro{
  display: flex;
  
}
#intro h1{
  font-size: 5em;
  color: azure;
  line-height: 1em;
  padding: 10%;
  z-index: 10;
}
/* #intro h1 span{
 
} */

#intro .glass{
    position: relative;
    width: 38%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: #0000004d; */
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.18);
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15% 7%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;

}

#intro .glass h2 {
  color: #fff;
  transform: translate(8em,-3em);
  opacity: 0;
  
  
}

#intro .glass p{
  font-size: 1em;
  width: 80%;
  color: azure;
  opacity: 0;
  transform: translate(10em,-3em);

}

#intro .glass .box{
  border: 5px solid lightgray;
  width: 65%;
  height: 40%;
  position: absolute;
  right: -7%;
  top: 15%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);

}




#info marquee{
    width: 100%;
    height: 10vh;
    direction: left;
   
}
#info marquee p{
    color: black;
    padding-top: 2em;
}

.content .upevents{
    display: flex;
    padding: 2em;
}

.content .upevents .card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 20em;
    box-sizing: border-box;
    border-radius: 1em;
    /* background-color: bisque; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.content .upevents .card .imgbx{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.content .upevents .card .imgbx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .upevents .card .info{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.content .upevents .card .info .name{
    font-size: 1.2em;
    padding: 1em;
}
.content .upevents .card .info p{
    line-height: 32px;
}



.projects{
    width: 100vw;
    /* height: 80vh; */
    min-height: 100vh;
    overflow:hidden;
    /* text-align: right; */
}
.projects .wrap{
    height: 80vh;
    
}

.c-header {
    display: block;
    width: 100%;
  }

  .c-mouse-vertical-carousel__list .dum{
      padding-left: 70%;
  }
  
  .u-a5 {
    font-family: Arial;
    font-size: 2em;
    line-height: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    text-shadow: 0 0 3px rgb(0 0 0 / 50%);
    color: #fff;
  }
  
  .u-b4 {
    font-family: Arial;
    font-size: 1.2vw;
    line-height: 1.1em;
    letter-spacing: 0.3px;
    font-weight: normal;
    color: #fff;
    width: 90%;
    text-align: left;
  }
  

  .u-media-wrapper {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 0;
  }
  .u-media-wrapper.u-media-wrapper--16-9 {
    padding-bottom: 56.25%;
  }
  
  .c-gradient-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
  }
  
  .c-mouse-vertical-carousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
  }
  .c-mouse-vertical-carousel__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 1;
    padding: 2em;
    list-style: none;
  }
  .c-mouse-vertical-carousel__images {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
  }
  .c-mouse-vertical-carousel__list-item a {
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 54.1666666667%;
  }
  .c-mouse-vertical-carousel__eyebrow {
    position: relative;
    padding-bottom: 12px;
  }
  .c-mouse-vertical-carousel__eyebrow span {
    position: absolute;
    left: -30px;
    top: 2px;
  }
  .c-mouse-vertical-carousel__title {
    max-width: 450px;
  }
  .c-mouse-vertical-carousel__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
  }


#glimpse {
      text-align: center;
      
}

#glimpse h1{
    margin-top: 1em;
}
#glimpse hr{
    width: 50%;
    margin-left: 25%;
    margin: 1em 0 1em 25%;
    background-color: black;
    height: 1px;
}
