<footer>
    <div class="wrap">
        <div class="imgbx">
            <img src="../data/index/logobgr.png" alt="">
        </div>

        <div class="contact">
            <p>Reach Us On</p>
            <ul>
                <li><a href="https://discord.com/invite/7HxRhM5wFF"><i class="fa fa-discord"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/yantrik_club/"><i class="fa fa-instagram"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/groups/1643392312602100"><i
                            class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UChsq9TRLeyPJwahs9x3EzUA"><i
                            class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/YantrikIITMandi"><i class="fa fa-github"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://wiki.iitmandi.co.in/p/Yantrik_Club"><i class="fa fa-wikipedia-w"
                            aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="data">
            <p><a href="mailto:yantrik_club@students.iitmandi.ac.in"><i class="fa fa-envelope"
                        aria-hidden="true"></i> yantrik_club@students.iitmandi.ac.in</a></p>
            <p><i class="fa fa-map-marker text-dark p-3"></i> IIT Mandi, <br>Kamand (H.P.)- 175005</p>
        </div>
    </div>

    <div class="copyright">
        <p>© 2022. YantrikClub-IIT&nbsp;Mandi. All&nbsp;Rights&nbsp;Reserved</p>
    </div>
</footer>