<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../data/index/logobgr.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yantrik Blogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="innerwrapper">
            <section id="preloader">
                <div class="text">Loading the blogs</div>
                <div class="container">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
            </section>
           <%- include('partials/navbar.ejs') %>
            <main>
                <div class="dummy">
                </div>
                <div class="content">
                    
                    <div id="blogpage">
                        <div class="selector">
                            <button id="selblog" class="btn active">Blogs</button>
                            <button id="selproj" class="btn">Projects</button>
                        </div>

                        <hr>
                        <div id="blogslist">
                            
                        </div>
                        <div id="projectslist">

                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/footer.ejs') %>
        </div>
    </div>
    <script type="module">    
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
        
        const firebaseConfig = {
            apiKey: "AIzaSyCo5jZ9wyNSP401q5X8-BH-gM7uxUnhuro",
            authDomain: "web2k21-99ffd.firebaseapp.com",
            projectId: "web2k21-99ffd",
            storageBucket: "web2k21-99ffd.appspot.com",
            messagingSenderId: "616040662732",
            appId: "1:616040662732:web:ac36b18f3ccff8c246a469"
        };
        const app = initializeApp(firebaseConfig);
        
        
        import {getFirestore ,getDocs , collection} from "https://www.gstatic.com/firebasejs/9.6.0/firebase-firestore.js";
        
        const db = getFirestore();
        
        const blogcontainer = document.getElementById("blogslist");
        const projcontainer = document.getElementById("projectslist");

        async function getdata(){
            const docSnap = await getDocs(collection(db,"Blogsthumb"));
            docSnap.forEach(chsnap=>{
                let csnap = chsnap.data();
                if ((blogcontainer.innerHTML.indexOf(`${csnap.UID}`)!= -1)||(projcontainer.innerHTML.indexOf(`${csnap.UID}`)!= -1)){
                    // console.log("present");
                }else{
                    if (csnap.Status == "approved"){
                    let code = 
                    `<a href='/blogs/${csnap.UID}' target="_blank" id="blogcard">
                        <div class="card" >
                            <div class="cardcontent">
                                <div class="imgBx">
                                    <img src="${csnap.ImageURLs.sback}" loading="lazy" alt="">
                                </div>
                                <div class="contentBx">
                                    <h3>${csnap.Title}</h3>
                                    <h1> <span> By- </span> ${csnap.AuthName}</h1>
                                    <p>${csnap.Description}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                    `;
                    if (csnap.Category == "2"){
                        projcontainer.innerHTML += code;
                    }else{
                        blogcontainer.innerHTML += code;
                    }
                }
                }
            })
        }

        
        window.onload = function(){getdata();blogsel.click()};

        const blogsel = document.getElementById("selblog");
        const projsel = document.getElementById("selproj");
        
        blogsel.addEventListener("click",()=>{
            
            if (blogcontainer.style.display == "none"){
                [blogsel,projsel].forEach(btn =>{
                    let ls = btn.className;
                    if(ls.indexOf("active") == -1){
                        btn.className = ls+" active";
                    }else{
                        btn.className = ls.replace("active","")
                    }
                })
            }
            blogcontainer.style.display = "flex";
            projcontainer.style.display = "none";
        })
        projsel.addEventListener("click",()=>{
            
            if (projcontainer.style.display == "none"){
                [blogsel,projsel].forEach(btn =>{
                    let ls = btn.className;
                    if(ls.indexOf("active") == -1){
                        btn.className = ls+" active";
                    }else{
                        btn.className = ls.replace("active","");
                    }
                })
            }
            blogcontainer.style.display = "none";
            projcontainer.style.display = "flex";

        })
      </script>
    <script src="../js/blog.js"></script>
      
</body>
</html>