<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../data/index/logobgr.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs-Dashboard</title>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" />
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href = “https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css” rel = “stylesheet”>
    <script src =
"https://code.jquery.com/jquery-1.10.2.js">
	</script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
    <script>
            
        function accountmenu(){
            const accountmn = document.querySelector("#acmn");
            const csacc = window.getComputedStyle(accountmn).display;
            // console.log(csacc)
            if (csacc == "none"){
                accountmn.style.display = "block";
            }
            else{
                accountmn.style.display = "none";
            }
        }
        
    </script>
    <div class="wrapper">
        <div class="innerwrapper">
            <header>
                <a href="/"><img src="../data/index/logobgr.png" alt=""></a>
                <ul class="mnoptions">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blogs</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/team">Team</a>
                    </li>   
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="/editor">Write a Blog</a>
                    </li>
                    <li>
                        <a id="accreveal" onclick="accountmenu()" href="#">My Account</a>
                    </li>
                </ul>
                <div class="ham"><a onclick="showmenu()"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
            </header>
            <main>
                <section id="preloader">
                    <div class="container">
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box"></div>
                    </div>
                    <div class="text">Setting up your dashboard</div>
                </section>
                <div class="accountmn" id="acmn">
                    <div class="details">
                        <div class="imgbx"><img id="accpic" src="../data/blogs/profile.png" alt=""></div>
                        <h2 id="accname"></h2>
                        <p id="accmailid"></p>
                    </div>
                    <div id="signout">Logout</div>
                </div>
                <div class="dummy">
                    Your Contributions : <span id="blcnt"></span>
                </div>
                <h1 id="cathead">Blogs</h1>
                <div id="blogslist">
                    
                </div>
                <h1 id="cathead">Projects</h1>
                <div id="projectslist">
            </main>
            <footer>
                <div class="wrap">
                    <div class="imgbx">
                        <img src="../data/index/logobgr.png" alt="">
                    </div>
                    
                    <div class="contact">
                        <p>Reach Us On</p>
                        <ul>
                            <li><a href="https://discord.com/invite/7HxRhM5wFF"><i class="fa fa-discord" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/yantrik_club/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/1643392312602100"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UChsq9TRLeyPJwahs9x3EzUA"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/YantrikIITMandi"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://wiki.iitmandi.co.in/p/Yantrik_Club"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <p><a href="mailto:yantrik_club@students.iitmandi.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i> yantrik_club@students.iitmandi.ac.in</a></p>
                        <p><i class="fa fa-map-marker text-dark p-3"></i> IIT Mandi, <br>Kamand (H.P.)- 175005</p>
                    </div>
                </div>

                <div class="copyright">
                    <p>© 2022. YantrikClub-IIT&nbsp;Mandi. All&nbsp;Rights&nbsp;Reserved</p>
                </div>
            </footer>
        </div>
    </div>
    
    <script type="module">
        
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
        const firebaseConfig = {
            apiKey: "AIzaSyCo5jZ9wyNSP401q5X8-BH-gM7uxUnhuro",
            authDomain: "web2k21-99ffd.firebaseapp.com",
            projectId: "web2k21-99ffd",
            storageBucket: "web2k21-99ffd.appspot.com",
            messagingSenderId: "616040662732",
            appId: "1:616040662732:web:ac36b18f3ccff8c246a469"
        };
        const app = initializeApp(firebaseConfig);

        import { getAuth, signInWithRedirect, getRedirectResult, setPersistence,browserLocalPersistence, GoogleAuthProvider, signOut } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-auth.js";

        const authen = getAuth();
        const provider = new GoogleAuthProvider();
        const mailid = [];
        authen.onAuthStateChanged((user)=>{
            if (user){
                // console.log(user);
                if (["students.iitmandi.ac.in","iitmandi.ac.in"].includes(user.email.split('@')[1])){
                    getdata(user.email);
                    mailid.push(user.email);
                    loadaccdata(user);
                } else{
                signOut(authen);
                setuplogin();
                }
            }
            else{
                setuplogin();
            }
        })
        
        const signoutbtn = document.getElementById('signout').addEventListener('click',async e=>{
            await signOut(authen).then(()=>{
                window.location.href = "/blog" ;
            })

        })

        const setuplogin = ()=>{
            signInWithRedirect(authen,provider);
            getRedirectResult(auth)
                .then((result) => {
                    // The signed-in user info.
                    const user = result.user;
                    // console.log(result);
                    if (["students.iitmandi.ac.in","iitmandi.ac.in"].includes(user.email.split('@')[1])){
                        setPersistence(authen, browserLocalPersistence);
                        getdata(user.email);
                        loadaccdata(user);
                        mailid.push(user.email);
                    } else{
                        setuplogin();
                    }
                }).catch((error) => {
                    setuplogin();                    
                });
        }



        
        import {getStorage, ref as sRef,listAll, getDownloadURL, deleteObject} from "https://www.gstatic.com/firebasejs/9.6.0/firebase-storage.js";
        import {getFirestore,query, where, doc, getDoc,getDocs , setDoc, collection, addDoc,updateDoc, deleteDoc, deleteField} from "https://www.gstatic.com/firebasejs/9.6.0/firebase-firestore.js";
            
        const db = getFirestore();
        const blogcontainer = document.getElementById("blogslist");
        const projcontainer = document.getElementById("projectslist");
        var tcout = 0;

        function loadaccdata(data){
            // console.log("recieved data");
            const accimg = document.getElementById("accpic");
            const accnm = document.getElementById("accname");
            const accmail = document.getElementById("accmailid");

            accimg.src = data.photoURL;
            accnm.innerHTML = data.displayName;
            accmail.innerHTML = data.email;
        }


        
        
        async function getdata(mail){
            const data = query(collection(db,"Blogsthumb"),where("Mail","==",mail));
            const docSnap = await getDocs(data);
            docSnap.forEach(chsnap=>{
                tcout += 1;
                document.getElementById("blcnt").innerHTML = tcout;
                let csnap = chsnap.data();
                // console.log(csnap.data());
                if ((blogcontainer.innerHTML.indexOf(`${csnap.UID}`)!= -1)||(projcontainer.innerHTML.indexOf(`${csnap.UID}`)!= -1)){
                    // console.log("present");
                }else{
                    var Status;
                    if (csnap.Status == "approved" || csnap.Status == "rejected"){
                        Status = csnap.Status;
                    }else{
                        Status = "waiting"
                    }
                    
                    let code = 
                    `   <div class="card" >
                            <div class="cardcontent">
                                <h3>Status : ${Status}</h3>
                                <div class="imgBx">
                                    <img src="${csnap.ImageURLs.sback}" loading="lazy" alt="">
                                </div>
                                <div class="contentBx">
                                    <h3>${csnap.Title}</h3>
                                    <h1> <span> By- </span> ${csnap.AuthName}</h1>
                                </div>
                                <div class="controls">
                                    <a href='/blogs/${csnap.UID}' target="_blank">
                                            Preview
                                    </a>
                                    <a  href="#" id = "deletetag">
                                            Delete
                                            <div class = "idval" hidden=true>${csnap.UID}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    `;
                    if (csnap.Category == "2"){
                        projcontainer.innerHTML += code;
                    }else{
                        blogcontainer.innerHTML += code;
                    }
                }
            })
        }

        const storage = getStorage();

        function proc(){
            setTimeout(() => {
                let dellisteners = document.querySelectorAll("#deletetag");
                dellisteners.forEach((listener)=>{
                    listener.addEventListener("click",async ()=>{
                        const tid = listener.querySelector(".idval").innerHTML;
                        let dblog = await deleteDoc(doc(db,"Blogs",tid));
                        let d = await deleteDoc(doc(db,"Blogsthumb",tid)).then(e=>{
                            listener.parentElement.parentElement.parentElement.outerHTML = "";
                            tcout -= 1;
                            document.getElementById("blcnt").innerHTML = tcout;
                        });
                        const storageRef = sRef(storage,`Blogs/${tid}`);
                        listAll(storageRef).then((listResults) => {
                            const promises = listResults.items.map((item) => {
                            return deleteObject(item);
                            });
                            Promise.all(promises).then(e=>{
                                // deleteObject(storageRef);
                            });
                        });
                        // Roll number
                        const sref2 = sRef(storage,);
                        
                    })
                })
            }, 3000);
        }

        window.onload = proc;

        // for account card
        $(document).ready(
            function() {
                $("#accreveal").click(function() {
                    $("#acmn").show();
                });
            });
        $(document).mouseup(function (e) {
            if ($(e.target).closest("#accreveal").length === 0 && $(e.target).closest("#acmn").length === 0) {
                $("#acmn").hide();
            }
        });
       
        // Preloader
        const prel = document.getElementById("preloader")
        setTimeout(()=>{
            prel.style.display = "none";
            window.scrollTo(0,0);
        },3000);
    </script>
</body>
</html>