<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../data/index/logobgr.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yantrik Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/iblog.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;1,400&family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <div class="innerwrapper">
            <%- include('partials/navbar.ejs') %>
            <main>

                <div id="preloader">
                    <div class="text">Just a moment</div>
                    <div class="boxes">
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    
                   
                </div>

                <div class="content">
                    <div class="head">
                        <p id="title"></p>
                        <div id="bgimgbox">
                            <img id="bgimg" alt="Background Image">
                        </div>
                        <blockquote id="description"></blockquote>
                        <!-- <p id="description"></p> -->
                    </div>

                    <div class = "data" id = "data">
                    </div>
                    <div class="author">
                        <div id="authimgbox">
                            <img src="../data/blogs/profile.png" alt="" id="authorimg">
                        </div>
                        <div id="authdata">
                            <h1 id="authorname"></h1>
                            <p id="authordesc"></p>
                        </div>
                    </div>
                    <div id="timestamp"></div>
                </div>
                <!-- <button id="pdfgen">Save pdf</button> -->
            </main>
            
            <%- include('partials/footer.ejs') %>
        </div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
        const firebaseConfig = {
          apiKey: "AIzaSyCo5jZ9wyNSP401q5X8-BH-gM7uxUnhuro",
          authDomain: "web2k21-99ffd.firebaseapp.com",
          projectId: "web2k21-99ffd",
          storageBucket: "web2k21-99ffd.appspot.com",
          messagingSenderId: "616040662732",
          appId: "1:616040662732:web:ac36b18f3ccff8c246a469"
        };
        const app = initializeApp(firebaseConfig);

        import {getFirestore,query, where, doc, getDoc,getDocs , setDoc, collection, addDoc,updateDoc, deleteDoc, deleteField} from "https://www.gstatic.com/firebasejs/9.6.0/firebase-firestore.js";
        
        const db = getFirestore();


        let blogid = decodeURI(location.pathname.split("/").pop());

        var bgimg = document.getElementById("bgimg");
        var blogtitle = document.getElementById("title");
        var desc = document.getElementById("description");
        var mdata = document.getElementById("data");
        var authimg = document.getElementById("authorimg");
        var authnm = document.getElementById("authorname");
        var authdesc = document.getElementById("authordesc");
        var tstamp = document.getElementById("timestamp");
        

        var parser = new DOMParser();

        async function loaddata(){
            const data = query(collection(db,"Blogs"),where("UID","==",blogid));
            const docSnap = await getDocs(data);
            if (docSnap.size >0){
                docSnap.forEach(chsnap=>{
                const csnap = chsnap.data();
                bgimg.src = csnap.ImageURLs.sback;
                blogtitle.innerHTML = csnap.Title;
                document.title = csnap.Title;
                desc.innerHTML = csnap.Description;
                mdata.innerHTML = csnap.Data;
                authimg.src = csnap.ImageURLs.sauth;
                authnm.innerHTML = csnap.AuthName;
                authdesc.innerHTML = csnap.Authbio;
                tstamp.innerHTML = csnap.Timestamp;
            })
            }else{
                location.href = "/pages/missing.html";
            }
        }

        window.onload = loaddata;
        
        
    </script>
    <script src="../js/iblog.js"></script>
</body>
</html>